@import url('./reset.css');
@import url('./font.css');
@import url('./home.css');
@import url('./nav.css');
@import url('./slides.css');

html {
  background: #082567;
  color: var(--color-main);
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
}

      /* * * * * * */
      /* variables */
      /* * * * * * */

:root {
  --color-main: #dcdba0;
  --hover-transition: opacity 0.2s;
}

      /* * * * * */
      /* layout  */
      /* * * * * */

body {
  display: flex;
}

section {
  box-sizing: border-box;
  padding: 45px 60px;
  width: calc(100% - 380px);
  max-width: 1000px;
}

.container.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.container.flex > *:not(:last-child) {
  align-self: flex-start;
  margin-right: 20px;
}
.drawer.medium {
  width: 200px;
}

/* switches toggle between the display of two things; ex: bio */
.switch-container > *:nth-child(2),
.switch-container.active > *:first-child {
  display: none;
}
.switch-container.active > *:nth-child(2) {
  display: block;
}
.switch {
  text-decoration: none;
  color: var(--color-main);
}
.switch:not(.current):hover {
  color: yellow;
}
.switch.current {
  cursor: default;
}
.switch:not(.current) {
  font-weight: 300;
}

      /* * * * * */
      /* images  */
      /* * * * * */

img {
  box-sizing: border-box;
  width: 100%;
}
img:not(.no-margin) {
  margin-bottom: 10px;
}
img:not(.no-border) {
  border: 1px solid;
}
img.thumb {
  width: 100px;
  cursor: pointer;
}
img.thumb:hover {
  border-color: yellow;
}

      /* * * * * * * */
      /* typography  */
      /* * * * * * * */

h2, h3, p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
}
h2:not(:first-child),
.container + h3 {
  margin-top: 60px;
}

h3 {
  font-weight: 500;
}

a {
  color: yellow;
  transition: color 0.2s;
}
a:hover {
  color: #dcdba0;
}

.copyright {
  margin-top: 120px;
}

      /* * * * * */
      /* mobile  */
      /* * * * * */

@media (max-width: 1000px) {
  nav {
    display: none;
  }

  section {
    padding: 15px;
    width: 100%;
  }

  .arrow {
    left: auto;
    right: 75px;
  }

  .container.flex > *:not(:last-child) {
    margin-right: 15px;
  }
  .slide-toggle {
    margin-bottom: 15px;
  }
}